name: CI - Sistema Motoboy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: mb_user
          POSTGRES_PASSWORD: nthO07Gi3t
          POSTGRES_DB: motoboy
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Instalar Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Instalar dependências backend
        run: |
          cd backend
          npm install

      - name: Criar .env para testes
        run: |
          cd backend
          echo DATABASE_URL="postgresql://mb_user:nthO07Gi3t@localhost:5432/motoboy" > .env.test
          echo JWT_SECRET="tccmotoboy" >> .env.test

      - name: Prisma generate
        run: |
          cd backend
          npx prisma generate

      - name: Rodar migrations
        run: |
          cd backend
          npx prisma migrate deploy

      - name: Rodar testes automatizados
        run: |
          cd backend
          npm test
